<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>添加商品</title>
<link rel = "stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class = "container">
<h1>添加商品</h1>
<br/>
<form th:action = "@{/Add}" method = "post" class = "form-horizontal">
	<div class = "form-group">
		<label for =  "itemName" class = "col-sm-2 control-label">商品名称</label>
		<div class = "col-sm-10">
			<input type = "text" class = "form-control" name ="itemName" id = "itemName" placeholder = "商品名称">
		</div>
	</div>
	<div class = "form-group">
		<label for =  "itemNum" class = "col-sm-2 control-label">商品数量</label>
		<div class = "col-sm-10">
			<input type = "text" class = "form-control" name ="itemNum" id = "itemNum" placeholder = "商品数量">
		</div>
	</div>
	
	<div class = "form-group">
		<div class = "col-sm-10">
			<div th :if ="${errorMsg!=null}" class = "alert alert-danger" role  ="alert" th:text = "${errorMsg}">
				
			</div>
		</div>
	</div>
	<div class = "form-group">
		<div class = "col-sm-offset-2 col-sm-10">
			<input type = "submit" value = "添加" class = "btn btn-info">
			<input type = "reset" value = "重置" class = "btn btn-danger">
			<a th:href = "@{/OrdersDetail/list}">后退</a>
		</div>
	</div>
</form>
</body>
</html>